<footer class="footer">
    <div class="list">
        <div class="logo">
            <div class="container-logo">
            <img src="../../../assets/e.svg" alt="logo" class="image">
            
            <span class="span">Chem-E-Shop</span>
            </div>
        </div>
        <div class="version">
            <button mat-raised-button class="button" routerLink="/admin" color="warn">
            <mat-icon>settings</mat-icon>
            <span>
                Open admin control panel
            </span>
            </button>
            
        </div>
            <div class="copyright">
            <span>
                Developed by F.B.
            </span>
            <span>
                <a href="https://firebase.google.com/docs/firestore" target="_blank">
                    Data stored with cloud firestore 
                </a>
            </span>
            <span>
                <a href="https://github.com/kekko0002/chem-e-shop" target="_blank">
                    Find this project on my Github
                </a>
            </span>
        </div>
    </div>
</footer>
